<table class="table table-bordered table-striped flip-content table-child-content">
    <thead class="flip-content">
        <tr>
            <th class="bg-green-jungle bg-font-green-jungle text-nowrap" width="20%"><%= t('.product_name') %></th>
            <th class="bg-green-jungle bg-font-green-jungle text-nowrap"><%= t('.ordered_quantity') %></th>
            <th class="bg-green-jungle bg-font-green-jungle text-nowrap"><%= t('.deliveried_quantity') %></th>
            <th class="bg-green-jungle bg-font-green-jungle text-nowrap"><%= t('.remain_quantity') %></th>
            <th class="bg-green-jungle bg-font-green-jungle text-right"><%= t('status') %></th>
            <th class="bg-green-jungle bg-font-green-jungle text-right"><%= t('.deliveries') %></th>
        </tr>
    </thead>
    <tbody>
        <% @order.order_details.each do |order_detail| %>
            <% if order_detail.delivered_delivery_details.count > 0 %>
                <tr class="odd gradeX has-child-table" data-url="<%= erp_qdeliveries.backend_deliveries_purchases_path(id: order_detail.id) %>">
            <% else %>
                <tr>
            <% end %>
                <td class="text-left font-yellow-gold sbold">
                    <%= order_detail.product_name %>
                </td>
                <td class="numeric text-center"><strong><%= format_number(order_detail.quantity) %></strong></td>
                <td class="numeric text-center">
                    <% if order_detail.delivered_delivery_details.count > 0 %>
                        <i class="fa fa-plus expand tr-expand-button child-tr-expand-button"></i>
                    <% end %>
                    <strong><%= format_number(order_detail.delivered_quantity) %></strong>
                </td>
                <td class="numeric text-center"><strong><%= format_number(order_detail.not_delivered_quantity) %></strong></td>
                <td class="text-right">
                    <% if order_detail.not_delivered_quantity > 0 %>
                        <span class="font-yellow-gold bold">Chưa giao</span>
                    <% elsif order_detail.not_delivered_quantity == 0 %>
                        <span class="font-green-meadow bold">Giao xong</span>
                    <% else %>
                        <span class="font-red-thunderbird bold">Giao dư</span>
                    <% end %>
                </td>
                <td class="text-right">
                    <% if order_detail.delivered_delivery_details.count > 0 %>
                        <% order_detail.delivered_delivery_details.each do |delivery_detail| %>
                            <%= link_to delivery_detail.delivery.code,
                                erp_qdeliveries.backend_delivery_path(delivery_detail.delivery),
                                title: delivery_detail.delivery.code, class: "font-blue sbold", target: "_blank" %><br>
                        <% end %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
