<table class="table table-bordered table-striped flip-content table-child-content">
    <thead class="flip-content">
        <tr>
            <th class="bg-green-jungle bg-font-green-jungle text-center text-nowrap" width="20%"><%= t('.product_name') %></th>
            <th class="bg-green-jungle bg-font-green-jungle text-nowrap text-center"><%= t('.product_type') %></th>
            <th class="bg-green-jungle bg-font-green-jungle text-nowrap text-center"><%= t('.unit') %></th>
            <th class="bg-green-jungle bg-font-green-jungle text-center text-nowrap"><%= t('.ordered_quantity') %></th>
            <th class="bg-green-jungle bg-font-green-jungle text-center text-nowrap"><%= t('.deliveried_quantity') %></th>
            <th class="bg-green-jungle bg-font-green-jungle text-center text-nowrap"><%= t('.remain_quantity') %></th>
            <th class="bg-green-jungle bg-font-green-jungle text-center text-nowrap"><%= t('status') %></th>
            <th class="bg-green-jungle bg-font-green-jungle text-right text-nowrap"><%= t('.deliveries') %></th>
        </tr>
    </thead>
    <tbody>
        <% @order.ordered_order_details.each do |order_detail| %>
            <% if order_detail.delivered_delivery_details.count > 0 %>
                <tr class="odd gradeX has-child-table" data-url="<%= erp_qdeliveries.backend_deliveries_purchases_path(id: order_detail.id) %>">
            <% else %>
                <tr>
            <% end %>
                <td class="text-left">
                    <% if order_detail.delivered_delivery_details.count > 0 %>
                        <i class="fa fa-plus expand tr-expand-button child-tr-expand-button"></i>
                    <% end %>
                    <%= backend_product_link(order_detail.product, order_detail.product_name) %>
                </td>
                <td class="text-center"><%= order_detail.product_category_name %></td>
                <td class="text-center"><%= order_detail.product_unit_name %></td>
                <td class="numeric text-center">
                    <%= format_number(order_detail.quantity) %></strong>
                </td>
                <td class="numeric text-center">
                    <%= format_number(order_detail.delivered_quantity) %>
                </td>
                <td class="numeric text-center">
                    <%= format_number(order_detail.not_delivered_quantity) %>
                </td>
                <td class="text-center">
                    <% if order_detail.not_delivered_quantity > 0 %>
                        <span class="font-yellow-gold">Chưa giao</span>
                    <% elsif order_detail.not_delivered_quantity == 0 %>
                        <span class="font-green-meadow">Giao xong</span>
                    <% else %>
                        <span class="font-red-thunderbird">Giao dư</span>
                    <% end %>
                </td>
                <td class="font-blue text-right">
                    <% if order_detail.delivered_delivery_details.count > 0 %>
                        <% order_detail.delivered_delivery_details.each do |delivery_detail| %>
                            <% if can? :print, delivery_detail.delivery %>
                                <%= qdelivery_link(delivery_detail.delivery) %>
                            <% else %>
                                <%= delivery_detail.delivery.code %>
                            <% end %>
                            <br>
                        <% end %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
