<%= form_for([erp_qdeliveries, :backend, delivery], html: {multipart: true}) do |f| %>
    <input type="hidden" name="delivery[delivery_type]" value="<%= delivery.delivery_type %>">
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-show text-center">
                    <h4 class="font-yellow bold uppercase">
                        <%= t(".#{delivery.delivery_type}") %>
                    </h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-6">
                                <%= erp_form_control("text", {
                                    name: 'delivery[code]',
                                    value: delivery.code,
                                    label: t('.code'),
                                    placeholder: t('.enter_code'),
                                    required: !delivery.id.nil?,
                                    errors: delivery.errors.full_messages_for(:code)
                                }) %>
                            </div>
                            <div class="col-md-6">
                                <%= erp_form_control('date', {
                                    name: 'delivery[date]',
                                    value: delivery.date,
                                    placeholder: t('.choose_date'),
                                    label: t('.date'),
                                    required: true,
                                    errors: delivery.errors.full_messages_for(:date)
                                }) %>
                            </div>
                        </div>
                        <% if Erp::Core.available?("contacts") %>
                            <% if [Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT,
                                   Erp::Qdeliveries::Delivery::TYPE_SALES_EXPORT].include?(delivery.delivery_type) %>
                                <%= erp_form_control("dataselect", {
                                    name: 'delivery[customer_id]',
                                    value: delivery.customer_id,
                                    text: delivery.customer_name,
                                    placeholder: t('.choose_customer'),
                                    label: t('.customer'),
                                    url: erp_contacts.dataselect_backend_contacts_path(format: 'json'),
                                    create: {
                                        url: erp_contacts.new_backend_contact_path,
                                        title: t('.create_customer'),
                                        container_selector: '.new_contact',
                                        input_selector: 'input[name="contact[name]"]',
                                        modal_size: "full"
                                    },
                                    edit: {
                                        url: erp_contacts.edit_backend_contact_path(id: ':value'),
                                        title: t('.edit_customer'),
                                        container_selector: '.edit_contact',
                                        modal_size: "full"
                                    },
                                    required: true,
                                    errors: delivery.errors.full_messages_for(:customer_id)
                                }) %>
                            <% end %>
                            <% if [Erp::Qdeliveries::Delivery::TYPE_PURCHASE_IMPORT,
                                   Erp::Qdeliveries::Delivery::TYPE_PURCHASE_EXPORT].include?(delivery.delivery_type) %>
                                <%= erp_form_control("dataselect", {
                                    name: 'delivery[supplier_id]',
                                    value: delivery.supplier_id,
                                    text: delivery.supplier_name,
                                    placeholder: t('.choose_supplier'),
                                    label: t('.supplier'),
                                    url: erp_contacts.dataselect_backend_contacts_path(format: 'json'),
                                    create: {
                                        url: erp_contacts.new_backend_contact_path,
                                        title: t('.create_supplier'),
                                        container_selector: '.new_contact',
                                        input_selector: 'input[name="contact[name]"]',
                                        modal_size: "full"
                                    },
                                    edit: {
                                        url: erp_contacts.edit_backend_contact_path(id: ':value'),
                                        title: t('.edit_supplier'),
                                        container_selector: '.edit_contact',
                                        modal_size: "full"
                                    },
                                    required: true,
                                    errors: delivery.errors.full_messages_for(:supplier_id)
                                }) %>
                            <% end %>
                        <% end %>
                        <% if [
                            Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT,
                            Erp::Qdeliveries::Delivery::TYPE_PURCHASE_EXPORT
                            ].include? delivery.delivery_type
                        %>
                            <%= erp_form_control("radio", {
                                name: 'delivery[payment_for]',
                                label: t('.payment_for'),
                                value: @delivery.payment_for,
                                options: Erp::Qdeliveries::Delivery.get_payment_type_options()
                            }) %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <%= erp_form_control("dataselect", {
                            name: 'delivery[employee_id]',
                            value: delivery.employee_id,
                            text: delivery.employee_name,
                            placeholder: t('.choose_employee'),
                            label: t('.employee'),
                            url: erp.dataselect_backend_users_path(format: 'json'),
                            required: true,
                            errors: delivery.errors.full_messages_for(:employee_id)
                        }) %>
                        <% if [
                            Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT,
                            Erp::Qdeliveries::Delivery::TYPE_PURCHASE_EXPORT
                            ].include? delivery.delivery_type
                        %>
                            <%= erp_form_control("textarea", {
                                name: 'delivery[note]',
                                value: delivery.note,
                                label: t('.note'),
                                placeholder: t('.enter_note'),
                                rows: 5
                            }) %>
                        <% else %>
                            <%= erp_form_control("textarea", {
                                name: 'delivery[note]',
                                value: delivery.note,
                                label: t('.note'),
                                placeholder: t('.enter_note'),
                                rows: 1
                            }) %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-custom ">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_5_1" data-toggle="tab" aria-expanded="true"><%= t('.delivery_details') %></a>
                        </li>
                    </ul>
                    <div class="tab-content delivery-details">
                        <div class="tab-pane addableform-table active" id="tab_5_1">
                            <%= render "erp/qdeliveries/backend/deliveries/form_details", delivery: delivery %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <input type="submit" name="save_print" value="LƯU & IN PHIẾU" class="btn green-seagreen" />
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_qdeliveries.backend_deliveries_path
    }) %>

    <% content_for :page_script do %>
        <script>
            function calculateTotalLine(container) {
                var rows = container.find('.autolist-line:visible');
                var quantity = 0;
                var total = 0;
                rows.each(function() {
                    var row = $(this);
                    var qty = customParseFloat(row.find('.line_quantity').val());
                    var cache_total = customParseFloat(row.find('.line_total').html());

                    // Update total (amount/quantity)
                    if(qty) {
                        quantity += qty;
                    }
                    if(cache_total) {
                        total += cache_total;
                    }
                });
                // update line total
                container.find('.quantity').html(quantity);
                container.find('.total').html(total);
            }
            $(document).ready(function() {
                setInterval(function() {
                    $('.delivery-details').each(function() {
                        calculateTotalLine($(this));
                    });
                }, 1000);

                // Change event on order line
                $(document).on('change keyup', '.delivery-details input, .delivery-details select', function(e) {
                    var container = $(this).parents('.delivery-details');
                    calculateTotalLine(container);
                });

                // Click event nested remove button
                $(document).on('click', '.nested-remove-button', function(e) {
                    var container = $(this).parents('.delivery-details');
                    setTimeout(function() {calculateTotalLine(container);}, 100);
                });
            });
        </script>
    <% end %>

<% end %>
