<% if Erp::Core.available?("ortho_k") %>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'delivery_details_categories_filter',
                value: '',
                text: '',
                class: 'delivery_details_categories_filter',
                label: 'Loại hàng',
                placeholder: 'Lọc theo loại hàng',
                url: erp_products.dataselect_backend_categories_path(format: 'json'),
                multiple: true
            }) %>
        </div>
        <div class="col-md-4">
            <% diameter = Erp::Products::Property.where(name: "Đường kính").first %>
            <%= erp_form_control("dataselect", {
                name: 'delivery_details_diameters_filter',
                value: '',
                text: '',
                label: 'Đường kính',
                placeholder: 'Chọn đường kính',
                url: erp_products.dataselect_backend_properties_values_path(format: 'json', property_id: diameter.id),
                multiple: true
            }) %>
        </div>
        <% if [Erp::Qdeliveries::Delivery::TYPE_CUSTOM_IMPORT,
            Erp::Qdeliveries::Delivery::TYPE_CUSTOM_EXPORT,
            Erp::Qdeliveries::Delivery::TYPE_PURCHASE_IMPORT,
            Erp::Qdeliveries::Delivery::TYPE_PURCHASE_EXPORT
        ].include?(delivery.delivery_type) %>
            <div class="col-md-4" style="border-left: solid 1px #ddd; padding-left: 20px">
                <%= erp_form_control("file", {
                    name: 'import_file',
                    value: '',
                    text: '',
                    label: ('Nhập từ file (<a href="'+url_for('/backend/file/product_custom_import_export.xlsx')+'" target="_blank">Tải mẫu</a>)').html_safe,
                }) %>
            </div>
            <div class="col-md-1 mt-25 text-right" style="margin-top: 26px;">
                <button class="btn btn-primary custom-form-submit" data-action="<%= erp_qdeliveries.import_file_backend_deliveries_path(id: delivery.id) %>">Tải file</button>
            </div>
        <% end %>
    </div>
    <hr />
<% end %>
<div class="row">
    <div class="col-md-2">Chứng từ</div>
    <div class="col-md-2">Sản phẩm</div>
    <div class="col-md-1">Kho</div>
    <!--<div class="col-md-1">T.Trạng</div>-->
    <div class="col-md-1">Số lượng</div>
    <% if Erp::Core.available?('ortho_k') %>
        <div class="col-md-1">Số lô</div>
    <% end %>
    <% if [Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT, Erp::Qdeliveries::Delivery::TYPE_PURCHASE_EXPORT].include? delivery.delivery_type %>
        <div class="col-md-1">Đơn giá</div>
        <div class="col-md-1">Thành tiền</div>
        <div class="col-md-1">Giảm giá</div>
        <div class="col-md-1">Thuế</div>
        <div class="col-md-1">Tổng cộng</div>
    <% end %>
    <div class="col-md-1"></div>
</div>
<hr class="mt-5">
<div class="autolist" data-line-url="<%= erp_qdeliveries.form_detail_backend_delivery_details_path(delivery_type: delivery.delivery_type) %>">
    <div class="autolist-container delivery_details_box">
        <% delivery.delivery_details.each do |dd| %>
            <% dd.order_detail = Erp::Orders::OrderDetail.new if !dd.order_detail.present? %>
            <% dd.order_detail.order = Erp::Orders::Order.new(id: -1) if !dd.order_detail.order.present? %>
            <% dd.order_detail.product = dd.product if !dd.order_detail.product.present? %>
            <% dd.warehouse = Erp::Warehouses::Warehouse.new if !dd.warehouse.present? %>
            <%= render "erp/qdeliveries/backend/delivery_details/form_detail",
                delivery_detail: dd,
                delivery_type: delivery.delivery_type
            %>
        <% end %>
    </div>

    <a href="#add" class="btn btn-primary add-line">
        <i class="fa fa-plus"></i>
    </a>
</div>
<hr />
<table class="table">
    <tr>
        <td width="90%" class="text-right text-semibold">Số lượng:</td>
        <td class="text-right">
            <h4 class="no-margin">
                <span class="quantity text-bold text-primary"></span>
            </h4>
        </td>
    </tr>
    <% if [Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT, Erp::Qdeliveries::Delivery::TYPE_PURCHASE_EXPORT].include? delivery.delivery_type %>
        <tr>
            <td width="90%" class="text-right text-semibold">Tổng tiền:</td>
            <td class="text-right">
                <h4 class="no-margin">
                    <span class="total text-bold text-primary"></span>
                </h4>
            </td>
        </tr>
    <% end %>
</table>
