<%= form_for([erp_qdeliveries, :backend, delivery], html: {multipart: true}) do |f| %>
    <input type="hidden" name="delivery[delivery_type]" value="<%= delivery.delivery_type %>">
    <div class="form-body">
        <div class="row">
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-6">
                                <%= erp_form_control("text", {
                                    name: 'delivery[code]',
                                    value: delivery.code,
                                    label: t('.code'),
                                    placeholder: t('.enter_code'),
                                    required: !delivery.id.nil?,
                                    errors: delivery.errors.full_messages_for(:code)
                                }) %>
                            </div>
                            <div class="col-md-6">
                                <%= erp_form_control('date', {
                                    name: 'delivery[date]',
                                    value: delivery.date,
                                    placeholder: t('.choose_date'),
                                    label: t('.date'),
                                    required: true,
                                    errors: delivery.errors.full_messages_for(:date)
                                }) %>
                            </div>
                        </div>
                        <% if Erp::Core.available?("contacts") %>
                            <% if [Erp::Qdeliveries::Delivery::TYPE_CUSTOMER_IMPORT,
                                   Erp::Qdeliveries::Delivery::TYPE_WAREHOUSE_EXPORT].include?(delivery.delivery_type) %>
                                <%= erp_form_control("dataselect", {
                                    name: 'delivery[customer_id]',
                                    value: delivery.customer_id,
                                    text: delivery.customer_name,
                                    placeholder: t('.choose_customer'),
                                    label: t('.customer'),
                                    url: erp_contacts.dataselect_backend_contacts_path(format: 'json'),
                                    create: {
                                        url: erp_contacts.new_backend_contact_path,
                                        title: t('.create_customer'),
                                        container_selector: '.new_contact',
                                        input_selector: 'input[name="contact[name]"]',
                                        modal_size: "full"
                                    },
                                    edit: {
                                        url: erp_contacts.edit_backend_contact_path(id: ':value'),
                                        title: t('.edit_customer'),
                                        container_selector: '.edit_contact',
                                        modal_size: "full"
                                    },
                                    required: true,
                                    errors: delivery.errors.full_messages_for(:customer_id)
                                }) %>
                            <% end %>
                            <% if [Erp::Qdeliveries::Delivery::TYPE_WAREHOUSE_IMPORT,
                                   Erp::Qdeliveries::Delivery::TYPE_MANUFACTURER_EXPORT].include?(delivery.delivery_type) %>
                                <%= erp_form_control("dataselect", {
                                    name: 'delivery[supplier_id]',
                                    value: delivery.supplier_id,
                                    text: delivery.supplier_name,
                                    placeholder: t('.choose_supplier'),
                                    label: t('.supplier'),
                                    url: erp_contacts.dataselect_backend_contacts_path(format: 'json'),
                                    create: {
                                        url: erp_contacts.new_backend_contact_path,
                                        title: t('.create_supplier'),
                                        container_selector: '.new_contact',
                                        input_selector: 'input[name="contact[name]"]',
                                        modal_size: "full"
                                    },
                                    edit: {
                                        url: erp_contacts.edit_backend_contact_path(id: ':value'),
                                        title: t('.edit_supplier'),
                                        container_selector: '.edit_contact',
                                        modal_size: "full"
                                    },
                                    required: true,
                                    errors: delivery.errors.full_messages_for(:supplier_id)
                                }) %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <%= erp_form_control("dataselect", {
                            name: 'delivery[employee_id]',
                            value: delivery.employee_id,
                            text: delivery.employee_name,
                            placeholder: t('.choose_employee'),
                            label: t('.employee'),
                            url: erp.dataselect_backend_users_path(format: 'json'),
                            required: true,
                            errors: delivery.errors.full_messages_for(:employee_id)
                        }) %>
                        <%= erp_form_control("textarea", {
                            name: 'delivery[note]',
                            value: delivery.note,
                            label: t('.note'),
                            placeholder: t('.enter_note')
                        }) %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-custom ">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_5_1" data-toggle="tab" aria-expanded="true"><%= t('.delivery_details') %></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane addableform-table active" id="tab_5_1">
                            <%= render "erp/qdeliveries/backend/deliveries/form_details", delivery: delivery %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <%= erp_component('button/save', {
        text: 'Lưu & In phiếu'
    }) %>
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_qdeliveries.backend_deliveries_path
    }) %>
<% end %>
