<table class="table table-bordered table-striped flip-content">
    <thead class="flip-content">
        <tr>
            <th class="bg-yellow bg-font-yellow text-center" width="20%">Tên sản phẩm</th>
            <th class="bg-yellow bg-font-yellow text-nowrap text-center">Thuộc đơn hàng</th>
            <th class="bg-yellow bg-font-yellow text-nowrap text-center">Số lượng đặt</th>
            <th class="bg-yellow bg-font-yellow text-nowrap text-center">Số lượng đã giao</th>
            <th class="bg-yellow bg-font-yellow text-nowrap text-center">Tình trạng</th>
            <th class="bg-yellow bg-font-yellow text-nowrap text-center">Kho</th>
            <% if @delivery.delivery_type == Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT %>
                <th class="bg-yellow bg-font-yellow text-nowrap text-center">Đơn giá</th>
                <th class="bg-yellow bg-font-yellow text-nowrap text-center">Tổng</th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @delivery.delivery_details.each do |delivery_detail| %>
            <tr>
                <td class="text-left font-green-sharp sbold">
                    <%= backend_product_link(delivery_detail.product) %>
                </td>
                <td class="text-center">
                    <% if delivery_detail.order_detail_id.nil? %>
                        Không chứng từ
                    <% else %>
                        <%= delivery_detail.get_order_code %>
                    <% end %>
                </td>
                <td class="numeric text-center">
                    <% if delivery_detail.order_detail_id.nil? %>
                        Không chứng từ
                    <% else %>
                        <strong><%= delivery_detail.ordered_quantity %></strong>
                    <% end %>
                </td>
                <td class="numeric text-center"><strong><%= delivery_detail.quantity %></strong></td>
                <td class="text-center"><%= delivery_detail.state_name %></td>
                <td class="text-center"><%= delivery_detail.warehouse_name %></td>
                <% if delivery_detail.price.present? %>
                    <td class="text-right"><%= format_price(delivery_detail.price) %></td>
                    <td class="text-right"><%= format_price(delivery_detail.total_amount) %></td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
