<table class="table table-bordered table-striped flip-content">
    <thead class="flip-content">
        <tr>
            <th class="bg-yellow bg-font-yellow text-left" width="25%">Tên sản phẩm</th>
            <th class="bg-yellow bg-font-yellow text-center">ĐVT</th>
            <th class="bg-yellow bg-font-yellow text-nowrap text-center">TT SP</th>
            <th class="bg-yellow bg-font-yellow text-nowrap text-center">Kho</th>
            <th class="bg-yellow bg-font-yellow text-left">Số lô</th>
            <th class="bg-yellow bg-font-yellow text-nowrap text-left">Chg.từ liên quan</th>
            <th class="bg-yellow bg-font-yellow text-nowrap text-center">SL đặt</th>
            <% if [Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT].include?(@delivery.delivery_type) %>
                <th class="bg-yellow bg-font-yellow text-nowrap text-center">SL hoàn </th>
                <th class="bg-yellow bg-font-yellow text-nowrap text-right">Đơn giá</th>
                <th class="bg-yellow bg-font-yellow text-nowrap text-right">Thành tiền</th>
                <th class="bg-yellow bg-font-yellow text-nowrap text-right">Giảm giá</th>
                <th class="bg-yellow bg-font-yellow text-nowrap text-right">Tiền VAT</th>
                <th class="bg-yellow bg-font-yellow text-nowrap text-right">Tổng cộng</th>
            <% elsif [Erp::Qdeliveries::Delivery::TYPE_SALES_EXPORT].include?(@delivery.delivery_type) %>
                <th class="bg-yellow bg-font-yellow text-nowrap text-center">SL xuất</th>
            <% else %>
                <th class="bg-yellow bg-font-yellow text-nowrap text-center">SL giao</th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @delivery_details.includes(:product).order('erp_products_products.ordered_code').each do |delivery_detail| %>
            <tr>
                <td class="text-left font-green-sharp sbold">
                    <%= backend_product_link(delivery_detail.product) %>
                </td>
                <td class="text-center">
                    <%= delivery_detail.product_unit %>
                </td>
                <td class="text-center"><%= delivery_detail.state_name %></td>
                <td class="text-center"><%= delivery_detail.warehouse_name %></td>
                <td class="text-left">
                    <%= delivery_detail.serials %>
                </td>
                <td class="text-left">
                    <% if delivery_detail.order_detail_id.nil? %>
                        Không chứng từ
                    <% else %>
                        <%= delivery_detail.get_order_code %>
                    <% end %>
                </td>
                <td class="numeric text-center">
                    <% if delivery_detail.order_detail_id.nil? %>
                        --
                    <% else %>
                        <strong><%= delivery_detail.ordered_quantity %></strong>
                    <% end %>
                </td>
                <td class="numeric text-center"><strong><%= delivery_detail.quantity %></strong></td>
                <% if [Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT].include?(@delivery.delivery_type) %>
                    <td class="text-right"><%= delivery_detail.price.present? ? format_price(delivery_detail.price) : '--' %></td>
                    <td class="text-right"><%= format_price(delivery_detail.subtotal) %></td>
                    <td class="text-right"><%= format_price(delivery_detail.discount) %></td>
                    <td class="text-right"><%= format_price(delivery_detail.tax_amount) %></td>
                    <td class="text-right"><%= format_price(delivery_detail.total) %></td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
