<% content_for :title do %>
    <%= @delivery.code %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_qdeliveries.backend_deliveries_path %>">
    <i class="fa fa-file-text-o"></i> <%= t('.deliveries') %>
    </a> / <%= @delivery.code %>
<% end %>

<% content_for :page_toolbar do %>
    
    <!-- create export -->
    <%=
        actions = []
        actions << {
            text: t('.sales_export'),
            url: erp_qdeliveries.new_backend_delivery_path(
                delivery_type: Erp::Qdeliveries::Delivery::TYPE_SALES_EXPORT
            )
        }
        actions << {
            text: t('.purchase_export'),
            url: erp_qdeliveries.new_backend_delivery_path(
                delivery_type: Erp::Qdeliveries::Delivery::TYPE_PURCHASE_EXPORT
            )
        }
        actions << {divider: true}
        actions << {
            text: t('.custom_export'),
            url: erp_qdeliveries.new_backend_delivery_path(
                delivery_type: Erp::Qdeliveries::Delivery::TYPE_CUSTOM_EXPORT
            )
        }
        erp_component('button/actions', {
        actions: actions,
        text: t('.create_export'),
        class: 'btn-noborder btn-sm',
        icon: 'glyphicon glyphicon-export'
    }) %>
    
    <!-- create import -->
    <%=
        actions = []
        actions << {
            text: t('.sales_import'),
            url: erp_qdeliveries.new_backend_delivery_path(
                delivery_type: Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT
            )
        }
        actions << {
            text: t('.purchase_import'),
            url: erp_qdeliveries.new_backend_delivery_path(
                delivery_type: Erp::Qdeliveries::Delivery::TYPE_PURCHASE_IMPORT
            )
        }
        actions << {divider: true}
        actions << {
            text: t('.custom_import'),
            url: erp_qdeliveries.new_backend_delivery_path(
                delivery_type: Erp::Qdeliveries::Delivery::TYPE_CUSTOM_IMPORT
            )
        }
        erp_component('button/actions', {
            actions: actions,
            text: t('.create_import'),
            class: 'btn-noborder btn-sm',
            icon: 'glyphicon glyphicon-import'
        })
    %>
    
<% end %>

<div class="row">
    <div class="col-md-12">
        <% if @delivery.errors.any? %>
            <%= erp_form_control("form_error_message") %>
        <% end %>
        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <%= render 'form', delivery: @delivery %>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>