<% content_for :title do %>
    <%= t('.deliveries') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-file-text-o"></i> <%= t('.deliveries') %>
<% end %>

<% content_for :page_toolbar do %>

    <!-- create export -->
    <%=
        actions = []
        actions << {
            text: t('.sales_export'),
            url: erp_qdeliveries.new_backend_delivery_path(
                delivery_type: Erp::Qdeliveries::Delivery::TYPE_SALES_EXPORT
            )
        }
        actions << {
            text: t('.purchase_export'),
            url: erp_qdeliveries.new_backend_delivery_path(
                delivery_type: Erp::Qdeliveries::Delivery::TYPE_PURCHASE_EXPORT
            )
        }
        actions << {divider: true}
        actions << {
            text: t('.custom_export'),
            url: erp_qdeliveries.new_backend_delivery_path(
                delivery_type: Erp::Qdeliveries::Delivery::TYPE_CUSTOM_EXPORT
            )
        }
        erp_component('button/actions', {
        actions: actions,
        text: t('.create_export'),
        class: 'btn-noborder btn-sm',
        icon: 'glyphicon glyphicon-export'
    }) %>

    <!-- create import -->
    <%=
        actions = []
        actions << {
            text: t('.sales_import'),
            url: erp_qdeliveries.new_backend_delivery_path(
                delivery_type: Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT
            )
        }
        actions << {
            text: t('.purchase_import'),
            url: erp_qdeliveries.new_backend_delivery_path(
                delivery_type: Erp::Qdeliveries::Delivery::TYPE_PURCHASE_IMPORT
            )
        }
        actions << {divider: true}
        actions << {
            text: t('.custom_import'),
            url: erp_qdeliveries.new_backend_delivery_path(
                delivery_type: Erp::Qdeliveries::Delivery::TYPE_CUSTOM_IMPORT
            )
        }
        erp_component('button/actions', {
            actions: actions,
            text: t('.create_import'),
            class: 'btn-noborder btn-sm',
            icon: 'glyphicon glyphicon-import'
        })
    %>

<% end %>


<% content_for :global_filter do %>
    <div class="row top-datalist">
        <div class="col-md-2">
            <%= erp_form_control('date', {
                label: 'Từ ngày',
                name: 'from_date',
                placeholder: 'Chọn ngày'
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control('date', {
                label: 'Đến ngày',
                name: 'to_date',
                placeholder: 'Chọn ngày'
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control('dataselect', {
                label: 'Mốc thời gian',
                name: 'period',
                value: (@period.present? ? @period.id : ''),
                text: (@period.present? ? @period.name : ''),
                placeholder: 'Chọn khoảng thời gian',
                url: erp_periods.dataselect_backend_periods_path(format: 'json'),
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'customer_id',
                label: 'Khách hàng',
                placeholder: 'Tìm theo khách hàng',
                url: erp_contacts.dataselect_backend_contacts_path(format: 'json')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'supplier_id',
                label: 'Nhà cung cấp',
                placeholder: 'Tìm theo nhà cung cấp',
                url: erp_contacts.dataselect_backend_contacts_path(format: 'json')
            }) %>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_qdeliveries.list_backend_deliveries_path,
    keywords: [
        {
            text: t('.code'), name: 'erp_qdeliveries_deliveries.code'
        },
        {
            text: t('creator'),
            name: 'erp_users.name',
            select: {
                name: 'erp_users.id',
                data_url: erp.dataselect_backend_users_path
            }
        }
    ],
    actions: [
        {
            text: '<i class="fa fa-trash"></i> '+t('.change_deleted'),
            url: erp_qdeliveries.status_deleted_all_backend_deliveries_path,
            data_method: 'PUT',
            data_confirm: t('.change_deleted_confirm')
        }
    ],
    filters: [
        {
            text: t('.is_delivered'), name: 'erp_qdeliveries_deliveries.status', value: Erp::Qdeliveries::Delivery::STATUS_DELIVERED, checked: true
        },
        {
            text: t('.is_deleted'), name: 'erp_qdeliveries_deliveries.status', value: Erp::Qdeliveries::Delivery::STATUS_DELETED, checked: false
        },
        {
            divider: true
        },
        {
            text: t('.sales_export'), name: 'erp_qdeliveries_deliveries.delivery_type', value: Erp::Qdeliveries::Delivery::TYPE_SALES_EXPORT, checked: false
        },
        {
            text: t('.sales_import'), name: 'erp_qdeliveries_deliveries.delivery_type', value: Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT, checked: false
        },
        {
            text: t('.purchase_import'), name: 'erp_qdeliveries_deliveries.delivery_type', value: Erp::Qdeliveries::Delivery::TYPE_PURCHASE_IMPORT, checked: false
        },
        {
            text: t('.purchase_export'), name: 'erp_qdeliveries_deliveries.delivery_type', value: Erp::Qdeliveries::Delivery::TYPE_PURCHASE_EXPORT, checked: false
        }
    ],
    columns: [
        {
            text: t('.code'), name: 'code', value: true, checked: true
        },
        {
            text: t('.customer_supplier'), name: 'customer_supplier', value: true, checked: true
        },
        {
            text: t('.employee'), name: 'employee', value: true, checked: false
        },
        {
            text: t('.delivery_date'), name: 'delivery_date', value: true, checked: true
        },
        {
            text: t('.delivery_type'), name: 'delivery_type', value: true, checked: true
        },
        {
            text: t('.quantity'), name: 'quantity', value: true, checked: true
        },
        {
            text: t('status'), name: 'status', value: true, checked: true
        },
        {
            text: t('creator'), name: 'creator', value: true, checked: false
        },
        {
            text: t('created_at'), name: 'created_at', value: true, checked: false
        }
    ],
    sort: { sort_by: 'erp_qdeliveries_deliveries.created_at', sort_direction: 'desc' }
) %>
