<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("code") %>
                <th><%= t('.code') %></th>
            <% end %>
            <% if get_columns(params).include?("customer_supplier") %>
                <th width="20%"><%= t('.customer_supplier') %></th>
            <% end %>
            <% if get_columns(params).include?("delivery_date") %>
                <th class="sortable" sort-by='erp_qdeliveries_deliveries.date'>
                    <%= t('.delivery_date') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("delivery_type") %>
                <th width="10%"><%= t('.delivery_type') %></th>
            <% end %>
            <% if get_columns(params).include?("quantity") %>
                <th class="text-center"><%= t('.quantity') %></th>
            <% end %>
            <% if get_columns(params).include?("employee") %>
                <th><%= t('.employee') %></th>
            <% end %>
            <% if get_columns(params).include?("note") %>
                <th width="15%"><%= t('.note') %></th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th><%= t('status') %></th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th><%= t('creator') %></th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th><%= t('created_at') %></th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @deliveries.each do |delivery| %>
            <tr class="odd gradeX has-child-table" data-url="<%= erp_qdeliveries.delivery_details_backend_deliveries_path(id: delivery.id) %>">
                <td>
                    <%= erp_datalist_check_row(id: delivery.id) %>
                </td>
                <% if get_columns(params).include?("code") %>
                    <td>
                        <i class="fa fa-plus expand tr-expand-button"></i>
                        <%= link_to delivery.code, erp_qdeliveries.edit_backend_delivery_path(delivery), class: "font-yellow-gold sbold" %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("customer_supplier") %>
                <td width="20%">
                    <%= raw 'KH: <strong>' + delivery.customer_name + '</strong><br>' if !delivery.customer.nil? %>
                    <%= raw 'NCC: <strong>' + delivery.supplier_name + '</strong><br>' if !delivery.supplier.nil? %>
                </td>
                <% end %>
                <% if get_columns(params).include?("delivery_date") %>
                <td><%= delivery.date.strftime("%d/%m/%Y") %></td>
                <% end %>
                <% if get_columns(params).include?("delivery_type") %>
                <td><%= t('.'+delivery.delivery_type) %></td>
                <% end %>
                <% if get_columns(params).include?("quantity") %>
                <td class="text-center"><%= delivery.total_delivery_quantity %></td>
                <% end %>
                <% if get_columns(params).include?("employee") %>
                    <td>
                        <%= erp_component('avatar', {
                            user: delivery.employee
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("note") %>
                <td class="text-left"><%= raw delivery.note %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                <td>
                    <% if delivery.status == Erp::Qdeliveries::Delivery::STATUS_DELIVERED %>
                        <%= erp_component('label/success', {
                            text: t('.'+delivery.status)
                        }) %>
                    <% end %>
                    <% if delivery.status == Erp::Qdeliveries::Delivery::STATUS_DELETED %>
                        <%= erp_component('label/default', {
                            text: t('.'+delivery.status)
                        }) %>
                    <% end %>
                </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td>
                        <%= erp_component('avatar', {
                            user: delivery.creator
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td><%= delivery.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td><%= qdelivery_dropdown_actions(delivery) %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<% if @deliveries.empty? %>
    <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
<% end %>

<%= erp_datalist_pagination(@deliveries) %>