<% content_for :title_line_1 do %>
    <%= 'PHIẾU NHẬP KHO' if @delivery.delivery_type == Erp::Qdeliveries::Delivery::TYPE_PURCHASE_IMPORT %>
    <%= 'HÀNG BÁN BỊ TRẢ LẠI' if @delivery.delivery_type == Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT %>
    <%= 'PHIẾU NHẬP KHO' if @delivery.delivery_type == Erp::Qdeliveries::Delivery::TYPE_CUSTOM_IMPORT %>
    <%= 'PHIẾU XUẤT KHO' if @delivery.delivery_type == Erp::Qdeliveries::Delivery::TYPE_SALES_EXPORT %>
    <%= 'PHIẾU XUẤT KHO' if @delivery.delivery_type == Erp::Qdeliveries::Delivery::TYPE_PURCHASE_EXPORT %>
    <%= 'PHIẾU XUẤT KHO' if @delivery.delivery_type == Erp::Qdeliveries::Delivery::TYPE_CUSTOM_EXPORT %>
<% end %>

<% content_for :title_line_2 do %>
    <i>Ngày <%= @delivery.date.strftime('%d') %>
      tháng <%= @delivery.date.strftime('%m') %>
      năm <%= @delivery.date.strftime('%Y') %></i>
    <div>Số: <%= @delivery.code %></div>
<% end %>

<% content_for :main_info_col_1 do %>
  <% if [Erp::Qdeliveries::Delivery::TYPE_CUSTOM_IMPORT,
         Erp::Qdeliveries::Delivery::TYPE_CUSTOM_EXPORT].include?(@delivery.delivery_type) %>
    <p>
      <label>Người phụ trách:</label>
      <span><%= @delivery.employee_name %></span>
    </p>
  <% else %>
    <p>
      <label>
        <%= 'Người giao hàng:' if [Erp::Qdeliveries::Delivery::TYPE_PURCHASE_IMPORT,
                                  Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT].include?(@delivery.delivery_type) %>
        <%= 'Người nhận hàng:' if [Erp::Qdeliveries::Delivery::TYPE_SALES_EXPORT,
                                  Erp::Qdeliveries::Delivery::TYPE_PURCHASE_EXPORT].include?(@delivery.delivery_type) %>
      </label>
      <span><strong><%= @delivery.get_contact.contact_name if @delivery.get_contact.present? %></strong></span>
    </p>
    <p>
      <label>Địa chỉ:</label>
      <span><%= display_contact_address(@delivery.get_contact) if @delivery.get_contact.present? %></span>
    </p>
  <% end %>
  <p>
    <label>Ghi chú:</label>
    <span><%= @delivery.note %></span>
  </p>
<% end %>

<% content_for :main_info_col_2 do %>

<% end %>

<% content_for :main_info_col_3 do %>
  <% if ![Erp::Qdeliveries::Delivery::TYPE_CUSTOM_IMPORT,
         Erp::Qdeliveries::Delivery::TYPE_CUSTOM_EXPORT].include?(@delivery.delivery_type) %>
    <p>
      <label>NV phụ trách:</label>
      <span><%= @delivery.employee_name %></span>
    </p>
  <% end %>
  <% if !@delivery.get_related_order.nil? %>
    <p>
      <label>Chứng từ:</label>
      <span><strong><%= @delivery.get_related_order.code %></strong></span>
    </p>
    <p>
      <span>BS: <strong><%= @delivery.get_related_order.doctor_name %></strong> / BN: <strong><%= @delivery.get_related_order.patient_name %></strong></span>
    </p>
  <% end %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <div class="custom-invoice invoice-content-2 bordered">
            <div class="row invoice-body">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <% if get_columns(params).include?("ordinal_number") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.ordinal_number') %></th>
                                <% end %>
                                <% if get_columns(params).include?("items") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.items') %></th>
                                <% end %>
                                <% if get_columns(params).include?("patient_name") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.patient_name') %></th>
                                <% end %>
                                <% if get_columns(params).include?("patient_state") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.patient_state') %></th>
                                <% end %>                                
                                <% if get_columns(params).include?("warehouse") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.warehouse') %></th>
                                <% end %>
                                <% if get_columns(params).include?("state") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.state') %></th>
                                <% end %>
                                <% if get_columns(params).include?("other_info") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.other_info') %></th>
                                <% end %>
                                <% if get_columns(params).include?("serials") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.serials') %></th>
                                <% end %>
                                <% if get_columns(params).include?("eye_position") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.eye_position') %></th>
                                <% end %>
                                <% if get_columns(params).include?("units") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.units') %></th>
                                <% end %>
                                <% if get_columns(params).include?("quantity") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.quantity') %></th>
                                <% end %>
                                <% if [Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT,
                                        Erp::Qdeliveries::Delivery::TYPE_PURCHASE_EXPORT].include?(@delivery.delivery_type) %>
                                    <% if get_columns(params).include?("price") %>
                                        <th class="invoice-title uppercase text-center"><%= t('.price') %></th>
                                    <% end %>
                                    <% if get_columns(params).include?("subtotal") %>
                                        <th class="invoice-title uppercase text-center"><%= t('.subtotal') %></th>
                                    <% end %>
                                    <% if get_columns(params).include?("discount") %>
                                        <th class="invoice-title uppercase text-center"><%= t('.discount') %></th>
                                    <% end %>
                                    <% if get_columns(params).include?("tax_amount") %>
                                        <th class="invoice-title uppercase text-center"><%= t('.tax_amount') %></th>
                                    <% end %>
                                    <% if get_columns(params).include?("total") %>
                                        <th class="invoice-title uppercase text-center"><%= t('.total') %></th>
                                    <% end %>
                                <% end%>
                                <% if get_columns(params).include?("record") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.record') %></th>
                                <% end %>
                                <% if get_columns(params).include?("note") %>
                                    <th class="invoice-title uppercase text-center"><%= t('.note') %></th>
                                <% end %>
                            </tr>
                            <% @delivery.delivery_details.includes(:product).order('erp_products_products.ordered_code').each_with_index do |delivery_detail,index| %>
                                <tr>
                                    <% if get_columns(params).include?("ordinal_number") %>
                                        <td class="text-center"><%= index+1 %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("items") %>
                                        <td>
                                            <p><%= delivery_detail.get_product.name %></p>
                                        </td>
                                    <% end %>
                                    <% if get_columns(params).include?("patient_name") %>
                                        <td class="text-center"><%= delivery_detail.get_patient_name %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("patient_state") %>
                                        <td class="text-center"><%= delivery_detail.get_patient_state_name %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("warehouse") %>
                                        <td class="text-center"><%= delivery_detail.warehouse_name %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("state") %>
                                        <td class="text-center"><%= delivery_detail.state_name %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("other_info") %>
                                        <td class="text-center"></td>
                                    <% end %>
                                    <% if get_columns(params).include?("serials") %>
                                        <td class="text-center"><%= delivery_detail.serials %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("eye_position") %>
                                        <td class="text-center"><%= delivery_detail.get_eye_position %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("units") %>
                                        <td class="text-center"><%= delivery_detail.get_product.unit_name %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("quantity") %>
                                        <td class="text-center"><%= delivery_detail.quantity %></td>
                                    <% end %>
                                    <% if [Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT,
                                        Erp::Qdeliveries::Delivery::TYPE_PURCHASE_EXPORT].include?(@delivery.delivery_type) %>
                                        <% if get_columns(params).include?("price") %>
                                            <td class="text-right"><%= format_number(delivery_detail.price) %></td>
                                        <% end %>
                                        <% if get_columns(params).include?("subtotal") %>
                                            <td class="text-right"><%= format_number(delivery_detail.subtotal) %></td>
                                        <% end %>
                                        <% if get_columns(params).include?("discount") %>
                                            <td class="text-right"><%= format_number(delivery_detail.discount) %></td>
                                        <% end %>
                                        <% if get_columns(params).include?("tax_amount") %>
                                            <td class="text-right"><%= format_number(delivery_detail.tax_amount) %></td>
                                        <% end %>
                                        <% if get_columns(params).include?("total") %>
                                            <td class="text-right"><%= format_number(delivery_detail.total) %></td>
                                        <% end %>
                                    <% end %>
                                    <% if get_columns(params).include?("record") %>
                                        <td class="text-center"><%= delivery_detail.get_order_code %></td>
                                    <% end %>
                                    <% if get_columns(params).include?("note") %>
                                        <td class="text-left"><%= delivery_detail.note %></td>
                                    <% end %>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table-footer">
    <% if [Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT,
        Erp::Qdeliveries::Delivery::TYPE_PURCHASE_EXPORT].include?(@delivery.delivery_type) %>
        <div class="line">
            <label>Tổng số lượng:</label>
            <span class="text-right"><%= format_number(@delivery.total_delivery_quantity) %></span>
        </div>
        <div class="line">
            <label>Cộng thành tiền:</label>
            <span class="text-right"><%= format_number(@delivery.subtotal) %></span>
        </div>
        <div class="line">
            <label>Giảm giá:</label>
            <span class="text-right"><%= format_number(@delivery.discount) %></span>
        </div>
        <div class="line">
            <label>Tạm tính:</label>
            <span class="text-right"><%= format_number(@delivery.total_without_tax) %></span>
        </div>
        <div class="line">
            <label>Tiền thuế:</label>
            <span class="text-right"><%= format_number(@delivery.tax_amount) %></span>
        </div>
        <div class="line">
            <label>Tổng tiền trả lại:</label>
            <span class="text-right"><%= format_number(@delivery.total) %></span>
        </div>
    <% else %>
        <div class="line">
            <label>Tổng số lượng:</label>
            <span class="text-right"><%= format_number(@delivery.total_delivery_quantity) %></span>
        </div>
    <% end %>
</div>
<div class="mt-5 text-small">
    <% if [Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT,
        Erp::Qdeliveries::Delivery::TYPE_PURCHASE_EXPORT].include?(@delivery.delivery_type) %>
      Tổng số tiền (bằng chữ): <trong><%= docso(@delivery.total_amount) if @delivery.delivery_type == Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT %></trong>
      <br>
    <% end %>
    Lưu ý: Cty chỉ thu hồi hàng hóa khi có HĐBH kèm theo.

</div>
<% content_for :footer do %>
    <div class="col text-center" style="width: 25%">
        <p>
            <strong>Người lập phiếu</strong><br/>
            <i>(Ký, họ tên)</i>
        </p>
        <p class="sign_name"><%= @delivery.creator_name %></p>
    </div>
    <div class="col text-center" style="width: 25%">
        <p>
            <strong>Người giao hàng</strong><br/>
            <i>(Ký, họ tên)</i>
        </p>
    </div>
    <div class="col text-center" style="width: 25%">
        <p>
            <strong>Người nhận hàng</strong><br/>
            <i>(Ký, họ tên)</i>
        </p>
    </div>
    <div class="col text-center" style="width: 25%">
        <p>
            <strong>Thủ kho</strong><br/>
            <i>(Ký, họ tên)</i>
        </p>
        <p class="sign_name"> </p>
    </div>
<% end %>
