<% index = unique_id %>
<div class="row autolist-line
    auto-cat-<%= delivery_detail.order_detail.product.category_id %>
    auto-diameter-<%= delivery_detail.order_detail.product.get_diameter_properties_value %>
">
    <div class="col-md-2 order-box">
        <input type="hidden" name="index" value="<%= index %>" />
        <input type="hidden" name="details[<%= index %>][order_detail_id]" value="<%= delivery_detail.order_detail.id %>" />
        <input type="hidden" name="details[<%= index %>][id]" value="<%= delivery_detail.id %>" />
        <input type="hidden" class="destroy_input" name="details[<%= index %>][_destroy]" value="" />
        <input type="hidden" class="ignore_input" name="details[<%= index %>][_ignore]" value="" />
        <% if [
            Erp::Qdeliveries::Delivery::TYPE_CUSTOM_IMPORT,
            Erp::Qdeliveries::Delivery::TYPE_CUSTOM_EXPORT
            ].include? delivery_detail.delivery.delivery_type
        %>
            <input type="hidden" value="-1" name="details[<%= index %>][order_id]" />
            <span class="text-bold">Không chứng từ</span>
        <% else %>
            <%= erp_form_control("dataselect", {
                name: "details[#{index}][order_id]",
                value: delivery_detail.order_detail.order_id,
                text: delivery_detail.order_detail.order_id.to_s == '-1' ? '-Không chứng từ-' : delivery_detail.order_detail.order.get_name,
                placeholder: t('.choose_order'),
                url: erp_orders.dataselect_backend_orders_path(format: 'json',
                    product_id: delivery_detail.order_detail.product.id,
                    include_na: '-Không chứng từ-',
                    delivery_type: delivery_type
                ),
                required: true
            }) %>
        <% end %>
    </div>
    <div class="col-md-2">
        <%= erp_form_control("dataselect", {
            name: "details[#{index}][product_id]",
            value: delivery_detail.order_detail.product.id,
            text: delivery_detail.order_detail.product.name,
            placeholder: t('.choose_product'),
            url: erp_products.dataselect_backend_products_path(
                format: 'json',
                order_id: delivery_detail.order_detail.order_id.to_i > 0 ? delivery_detail.order_detail.order_id : nil,
                delivery_type: delivery_type
            ),
            required: true
        }) %>
    </div>
    <% if !delivery_detail.order_detail.product.id.nil? and !delivery_detail.order_detail.order_id.nil? %>
        <div class="col-md-1">
            <% if !delivery_detail.order_detail.id.nil? and delivery_detail.order_detail.order_id.to_s != '-1' and delivery_detail.id.nil? %>
                <%= erp_form_control("select", {
                    name: "details[#{index}][quantity]",
                    value: delivery_detail.quantity,
                    placeholder: t('.choose_quantity'),
                    options: (1..delivery_detail.get_max_quantity).map{|number| {value: number, text: "#{number} / #{delivery_detail.get_max_quantity}"} },
                    required: true
                }) %>
            <% elsif delivery_detail.order_detail.order_id.to_s == '-1' or !delivery_detail.id.nil? %>
                <%= erp_form_control("number", {
                    name: "details[#{index}][quantity]",
                    value: delivery_detail.quantity,
                    placeholder: t('.choose_quantity'),
                    required: true
                }) %>
            <% end %>
        </div>
        <div class="col-md-1">
            <%= erp_form_control("dataselect", {
                name: "details[#{index}][state_id]",
                value: delivery_detail.state_id,
                text: delivery_detail.state_name,
                placeholder: t('.choose_sate'),
                url: erp_products.dataselect_backend_states_path(format: 'json'),
                required: true
            }) %>
        </div>
        <div class="col-md-1">
            <%= erp_form_control("dataselect", {
                name: "details[#{index}][warehouse_id]",
                value: delivery_detail.warehouse.id,
                text: delivery_detail.warehouse.name,
                placeholder: t('.choose_warehouse'),
                url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
                required: true
            }) %>
        </div>
        <% if Erp::Core.available?('ortho_k') %>
            <div class="col-md-2">
                <%= erp_form_control("textarea", {
                    name: "details[#{index}][serials]",
                    value: delivery_detail.serials,
                    text: delivery_detail.serials,
                    rows: 1,
                    required: true
                }) %>
            </div>
        <% end %>
        <% if [Erp::Qdeliveries::Delivery::TYPE_SALES_IMPORT, Erp::Qdeliveries::Delivery::TYPE_PURCHASE_EXPORT].include? delivery_detail.delivery.delivery_type %>
            <div class="col-md-1">
                <%= erp_form_control("number", {
                    name: "details[#{index}][price]",
                    value: delivery_detail.price,
                    placeholder: 'Giá trả',
                }) %>
                <% if delivery_detail.order_detail_id.present? %>
                    <div class="font-yellow text-small text-semibold" style="font-size: 70%; margin-top: -20px;margin-bottom: 20px;">
                        Giá mua: <%= format_price(delivery_detail.order_detail.price) %>
                    </div>
                <% end %>
            </div>
            <div class="col-md-1 text-bold text-right" style="padding:7px 15px">
                <%= format_price(delivery_detail.price.to_f*delivery_detail.quantity) %>
            </div>
        <% end %>
    <% else %>
        <div class="col-md-6"></div>
    <% end %>
    <div class="col-md-1 text-right">
        <a href="#remove" class="btn btn-danger remove-line">
            <i class="fa fa-close"></i>
        </a>
    </div>
</div>
