<table class="table table-bordered table-striped flip-content">
    <thead class="flip-content">
        <tr>
            <th width="15%" class="bg-yellow bg-font-yellow text-center"><%= t('.product_code') %></th>
            <th class="bg-yellow bg-font-yellow text-nowrap"><%= t('.product_name') %></th>
            <th class="bg-yellow bg-font-yellow text-nowrap"><%= t('.product_type') %></th>
            <th class="bg-yellow bg-font-yellow text-nowrap"><%= t('.ordered_quantity') %></th>
            <th class="bg-yellow bg-font-yellow text-nowrap"><%= t('.deliveried_quantity') %></th>
            <th class="bg-yellow bg-font-yellow text-nowrap"><%= t('.remain_quantity') %></th>
            <th class="bg-yellow bg-font-yellow text-right"><%= t('status') %></th>
            <th class="bg-yellow bg-font-yellow text-right"><%= t('.deliveries') %></th>
        </tr>
    </thead>
    <tbody>
        <% @order.order_details.each do |order_detail| %>
            <% if order_detail.delivered_delivery.count > 0 %>
                <tr class="odd gradeX has-child-table" data-url="<%= erp_qdeliveries.backend_deliveries_sales_path(id: order_detail.id) %>">
            <% else %>
                <tr>
            <% end %>
                <td class="text-center">
                    <% if order_detail.delivered_delivery.count > 0 %>
                        <i class="fa fa-plus expand tr-expand-button"></i>
                    <% end %>
                    <strong><%= order_detail.product_code %></strong>
                </td>
                <td class="text-left"><%= link_to order_detail.product_name, erp_products.edit_backend_product_path(order_detail.product), target: "_blank", title: order_detail.product_name, class: "font-green-sharp sbold" %></td>
                <td class="text-left"><%= order_detail.product_category_name %></td>
                <td class="numeric text-center"><strong><%= format_number(order_detail.quantity) %></strong></td>
                <td class="numeric text-center"><strong><%= format_number(order_detail.delivered_quantity) %></strong></td>
                <td class="numeric text-center"><strong><%= format_number(order_detail.not_delivery_quantity) %></strong></td>
                <th class="text-right">
                    <% if order_detail.not_delivery_quantity > 0 %>
                        <span class="font-yellow-gold bold">Chưa giao</span>
                    <% elsif order_detail.not_delivery_quantity == 0 %>
                        <span class="font-green-meadow bold">Giao xong</span>
                    <% else %>
                        <span class="font-red-thunderbird bold">Giao dư</span>
                    <% end %>
                </th>
                <th class="text-right">
                    <% if order_detail.get_delivered_deliveries.count > 0 %>
                        <% order_detail.get_delivered_deliveries.each do |delivered_delivery| %>
                            <%= link_to delivered_delivery.delivery.code, "", class: "font-blue sbold" %><br>
                        <% end %>
                    <% end %>
                </th>
            </tr>
        <% end %>
    </tbody>
</table>                    